[package]
name = "xcp"
description = "xcp is a (partial) clone of the Unix `cp` command with some more user-friendly feedback and some optimisations."
version = "0.8.0"
edition = "2018"

authors = ["Steve Smith <tarkasteve@gmail.com>"]
homepage = "https://github.com/tarka/xcp/"
repository = "https://github.com/tarka/xcp/"
readme = "README.md"

keywords = ["coreutils", "cp", "files", "filesystem"]
categories =["command-line-utilities"]
license = "GPL-3.0-only"

[badges]
circle-ci = { repository = "tarka/xcp" }
travis-ci = { repository = "tarka/xcp" }

[features]
default = ["kernel_copy_file_range"]
kernel_copy_file_range = []

[profile.release]
overflow-checks = true

[dependencies]
anyhow = "1.0.32"
cfg-if = "0.1.10"
crossbeam-channel = "0.4.4"
crossbeam-utils = "0.7.2"
glob = "0.3.0"
ignore = "0.4.16"
indicatif = "0.15.0"
libc = "0.2.77"
log = "0.4.11"
num_cpus = "1.13.0"
simplelog = "0.8.0"
structopt = "0.3.18"
thiserror = "1.0.20"
unbytify = "0.2.0"
walkdir = "2.3.1"
xattr = "0.2.2"

[dev-dependencies]
rand = "0.7.3"
rand_distr = "0.3.0"
rand_xorshift = "0.2.0"
tempfile = "3.1.0"
test-case = "1.0.0"
uuid = { version = "0.8.1", features = ["v4"] }
