[package]
name = "xcp"
description = "xcp is a (partial) clone of the Unix `cp` command with some more user-friendly feedback and some optimisations."
version = "0.10.0"
edition = "2021"

authors = ["Steve Smith <tarkasteve@gmail.com>"]
homepage = "https://github.com/tarka/xcp/"
repository = "https://github.com/tarka/xcp/"
readme = "README.md"

keywords = ["coreutils", "cp", "files", "filesystem"]
categories =["command-line-utilities"]
license = "GPL-3.0-only"

[badges]
circle-ci = { repository = "tarka/xcp" }
travis-ci = { repository = "tarka/xcp" }

[features]
default = ["kernel_copy_file_range"]
kernel_copy_file_range = []

[profile.release]
overflow-checks = true

[dependencies]
anyhow = "1.0.69"
cfg-if = "1.0.0"
clap = { version = "4.1.6", features = ["derive"] }
crossbeam-channel = "0.5.6"
crossbeam-utils = "0.8.14"
glob = "0.3.1"
ignore = "0.4.20"
indicatif = "0.17.3"
libc = "0.2.139"
log = "0.4.17"
num_cpus = "1.15.0"
simplelog = "0.12.0"
thiserror = "1.0.38"
unbytify = "0.2.0"
walkdir = "2.3.2"
xattr = "1.0.0"

[dev-dependencies]
rand = "0.8.5"
rand_distr = "0.4.3"
rand_xorshift = "0.3.0"
tempfile = "3.4.0"
test-case = "3.0.0"
uuid = { version = "1.3.0", features = ["v4"] }
