name: "Release Binaries"

on:
  push:
    tags:
      - v[0-9]+.*

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -D warnings
  RUSTUP_MAX_RETRIES: 10

defaults:
  run:
    shell: bash

jobs:
  upload-assets:
    name: ${{ matrix.shortname }}
    if: github.repository_owner == 'tarka'
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-22.04

          - target: aarch64-unknown-linux-gnu
            os: ubuntu-22.04-arm

    timeout-minutes: 60
    steps:

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: xcp
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}

          tar: all
          archive: $bin-$tag-${{ matrix.target }}
          leading-dir: true
          bin-leading-dir: bin
          include: LICENSE,README.md
